




.fieldset {
  font-size: 100%;
  background: linear-gradient(68.15,#c90929 16.62%, #9c7c75 85.61%);
}
.nerd1{
    width: 280px;
    margin: 0px;
  padding: 4%;

   
}
nav{
font-size: larger;
padding: 2px;
margin-top: 16px;
font-size: 54px;



}


nav a:hover, nav a:focus {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}
